<!DOCTYPE html>
<html>
  <head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script type="text/javascript" src="javascripts/feedHandler.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
    <h2> Names </h2>
    <%= body %>
    </p>
    <h2> Countries </h2>
    <%= country %>
    <h3> Human Development Index </h3>
    <%= hdi %>
    
    <script type="text/javascript" src="routes/feed.js"></script>
  </body>
</html>